

*, *::before, 
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #73885c;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

#scoreboard {
    width: 10%;
    background-color: darkolivegreen;
    border-radius: .5rem;
    border: 2px solid white;
    border-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: .3rem 1rem;
    font-weight: 500;
    font-size: .875rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#field {
    width: 70dvw;
    height: 60dvh;
    border: 3px solid darkolivegreen;
    border-radius: .5rem;
    background-image: url('/assets/bg.png');
    image-rendering: pixelated;
    background-color: darkolivegreen;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 25px 50px -12px rgb(0 0 0 / 0.25);
}


#ball {
    cursor: pointer;
    position: absolute;
    transition: all ease-in-out 0.5s;
    height: auto;
    z-index: 2;
    box-shadow:  0 25px 50px -12px rgb(0 0 0 / 0.25);
}

#ball:hover {
    transform: scale(1.5);
    /* animation: shake 1s cubic-bezier(.36, .07, .19, .97) both; */
}

.line {
    height: 100%;
    background-color: darkolivegreen;
    width: 2px;
    position: absolute;
    right: 15%;
}

#goalpost {
    transform: rotate(90deg);
    width: 15dvw;
    height: auto;
    position: absolute;
    right: 0;
    top: 20%;
    margin: auto 0;
}


@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }